.InputCheckbox {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $primary;
  margin: 0;
  padding: 0;
  background-color: $neutralLight;
  transition: all 0.5s ease;

  &.activeInput {
    background-color: $textOrange;
  }
}

.checked {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);

  opacity: 0;
  transition: opacity 0.5s ease;
  @include flexboxCenter();

  &.activeChecked {
    opacity: 1;
  }
}
