@import "./scss/typography/all.scss";
@import "./scss/layouts/all.scss";
@import "./scss/helpers/reset.scss";
@import "./scss/layouts/columns.scss"; // .container {
//   background-color: $neutralLightGrey;
//   ul {
//     @include flexbox();
//     @include justify-content(space-between);
//     color: $textPink;
//     margin: $marginText;
//     padding: $paddingText;
//     background-color: colorShade($primary, 0.8);
//   }
// }
.container {
  width: 100%;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &.space-between {
    justify-content: space-between;
  }
}
.row-g {
  display: flex;
  gap: 10px;
}
ul {
  @include flexbox();
  @include justify-content(space-between);
  background-color: $neutralLightGrey;
  color: $textOrange;
  @include s {
    background: red;
  }
}
