.container {
  background-color: $colorBackground;
  @include flexboxCenter();
  @include justify-content(center);
  ul {
    color: $colorText;
    margin: $marginText;
    padding: $paddingText;
  }
}

ul {
  @include flexboxCenter;
  @include justify-content(space-between);
  background-color: $colorBackground;
  color: lightblue;
  @include s {
    background: red;
  }
}
