@import "./scss/typography/all.scss";
@import "./scss/layouts/all.scss";
@import "./scss/helpers/reset.scss";

// .container {
//   background-color: $neutralLightGrey;
//   ul {
//     @include flexbox();
//     @include justify-content(space-between);
//     color: $textPink;
//     margin: $marginText;
//     padding: $paddingText;
//     background-color: colorShade($primary, 0.8);
//   }
// }
.container {
  width: 100%;
  position: relative;
}
.row {
  width: 100%;

  display: flex;
}
ul {
  @include flexbox();
  @include justify-content(space-between);
  background-color: $neutralLightGrey;
  color: $textOrange;
  @include s {
    background: red;
  }
}
