// Primary
$primary: #0d1f29;

//Neutrals
$neutralLight: #ffff;
$neutralLightGrey: #dedede;
$neutralDark: #1f2732;
$neutralDarkGrey: #8f8f8f;

//Semantic
$textOrange: #ffb23e;
$textPink: #ff748d;
$textYellow: #fbe738;
